h1{
    text-align: center;
}

body{
    background-color:rgba(0,255,0,.3);
}

#Margin{
    text-align: center;
    margin:auto;
    width: 900px;
    height: 900px;
    background-color: rgba(0,250,0,.5);
   
}
#Border{
    border: 2px solid black;
    text-align: center;
    margin: 50px 140px;
    width: 600px;
    height: 600px;
    background-color: rgba(0,230.0,.7);


}
#Padding{
    
    text-align: center;
    margin: 40px 80px;
    width: 400px;
    height: 400px;
    background-color: rgba(0,200,0,.9);
}
#Content{
   
    text-align: center;
    margin: 50px 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(0, 100, 0);
}
.Margin{
    font-size: 40px;
    font-weight: 900px;
    color: rgb(0,50,0);

}
.the{
    font-size: 40px;
    font-weight: 900px;
    color: rgb(0,50,0);

}
p{
    line-height:4px;
}

.Model{
    font-size: 40px;
    font-weight: 900px;
    color: rgb(0,150,0);
}
.title{
    font-size: 25px;
    color: rgb(0,50,0);
}
.Content1{
    font-size: 25px;
    color: rgb(0,0,0);
}
.border{
    font-size: 15px;
}
.padding{
    font-size: 13px;
}
content{
    font-size: 18px;
}
body{
    margin: auto;
    width: 1000px;
    height: 1000px;
}